//audio waves

.audioWaves{
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 90px;
  z-index: 1;
  // overflow: hidden;
  transition: 0.5s ease;
 
}

//sine waves

.loading {
  width: 100px;
  height: 30px;
  position: relative;
}
.loading .x {
  position: absolute;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: loading 2s ease-in-out infinite, flash1 6s ease infinite;
  width: 5px;
  background-color: #4e4355;
  height: 5px;
  transition: 0.8s ease-in;
}
@keyframes loading {
  0%,100% {top: 0px;}
  25% {top: 15px;}
  50% {top: 0px;}
  75% {top: 15px;}
}
@keyframes flash1{
  0%, 100%{
      box-shadow: 0 0 0vw 0vw yellow;
  }
  5%, 30%{
    opacity: 1;
    box-shadow: 0 0 2vw 0.2vw yellow;
  }
}
.loading .x:nth-child(1) {
  left: 0px;
  animation-delay: 0s;
}
.loading .x:nth-child(2) {
  left: 5px;
  animation-delay: .1s;
}
.loading .x:nth-child(3) {
  left: 10px;
  animation-delay: .2s;
}
.loading .x:nth-child(4) {
  left: 15px;
  animation-delay: .3s;
}
.loading .x:nth-child(5) {
  left: 20px;
  animation-delay: .4s;
}
.loading .x:nth-child(6) {
  left: 25px;
  animation-delay: .5s;
}
.loading .x:nth-child(7) {
  left: 30px;
  animation-delay: .6s;
}
.loading .x:nth-child(8) {
  left: 35px;
  animation-delay: .7s;
}
.loading .x:nth-child(9) {
  left: 40px;
  animation-delay: .8s;
}
.loading .x:nth-child(10) {
  left: 45px;
  animation-delay: .9s;
}
.loading .x:nth-child(11) {
  left: 50px;
  animation-delay: 1s;
}
.loading .x:nth-child(12) {
  left: 55px;
  animation-delay: 1.1s;
}

.loading .x:nth-child(13) {
  left: 60px;
  animation-delay: 1.2s;
}

.loading .x:nth-child(14) {
  left: 65px;
  animation-delay: 1.3s;
}
